# Auto detect text files and perform LF normalization
*.go text eol=lf
*.php text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.sh text eol=lf
*.ini text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.conf text eol=lf
LICENSE text eol=lf
*.phar text eol=lf
Dockerfile text eol=lf