body {
    background: linear-gradient(-45deg, #5EAB5E, #5C8CFA);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

img {
    width: 50%;
    height: auto;
}