.centered-container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.centered-flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.top-margin-container {
    margin-top: 10%;
}

.centered-container-for-input {
    background: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2.5vh 2.5vw;
    border: 0 solid gray;
    border-radius: 2px;
}

.list-container {
    box-shadow: 1px 1px 5px 1px gray;
    border: 0 solid gray;
    padding: 1%;

    margin-top: 1%;
}

.list-entry {
    width: 90%;
    margin: 0.25% auto;
    padding: 1%;
    box-shadow: 1px 1px 5px 1px gray;
    border: 0 solid gray;
    display: flex;

    justify-content: center;
    align-items: center;
}

.list-entry:hover {
    background: #f5f6fa;
}