.centered-container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    text-align: center;
    align-content: center;
    justify-content: center;
}

.centered-flex-container {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.top-margin-container {
    margin-top: 10%;
}

.login-container {
    background: white;
    display: flex;
    margin-top: 10vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2.5vh 2.5vw;
    width: 70vw;
    height: 50vh;
    border: 0 solid gray;
    border-radius: 2px;
}

.login-form-container {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    width: 50%;
}